@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@mixin parent-center{
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
}
*{box-sizing: border-box;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: white;
  vertical-align: baseline;
}
html{
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  body {
    position: relative;
    background: linear-gradient(#629DBF, #F68CBC);
    height: 100vh;
    font-family: 'Shrikhand', cursive;

    .header{
      @include parent-center;
      height: 20vh;
      
      h1 {
        font-family: 'Bungee Shade', cursive;
        text-align: center;
        font-weight: 700;
        color: black;
        font-size: 42pt;
        // margin: 0.25em 0;
      } /** h1 **/
    } /* .header */
  
    table {
      height: 60vh;
      margin: 2.5vh auto;
      border-collapse: collapse;

      tr {
        width: 100%;

        &#row2{
          border-top: white solid 1px;
          border-bottom: white solid 1px;
        }
        td {
          text-align: center;
          vertical-align: middle;
          height: 20vh;
          width: 20vh;

          &.x-move{
            background: url(../images/dog.png) no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #C1E8FF;
            color: rgba(255,255,255,0);
          }
          &.o-move{
            background: url(../images/cat.png) no-repeat;
            background-size: cover;
            background-position: center;
            background-color: white;
            color: rgba(255,255,255,0);
          }
          &.win {
            background-color: yellow;
          }
          &.col2{
            border-left: white solid 1px;
            border-right: white solid 1px;
          }

        } /* td */

      } /* tr */
    } /* table */
    div.message{
      @include parent-center;
      height: 15vh;
      p.status{
        display: inline;
        // margin: 2em 0 0.25em 0;
        font-size: 20pt;
      } /* p.status */
    } /* .message */
  } /** body **/
} /* html */
