$size : 60vh;
$marker: ($size/3)-5vh;
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade|Shrikhand';
@mixin parent-center{
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
}
@mixin border($side){
  border-#{$side}: 1px solid black;
}
@mixin blur{
  -webkit-filter: url("#blur");
  filter: url("#url");
}

html{
  box-sizing: border-box;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  body {
    background: linear-gradient(#629DBF, #F68CBC);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Shrikhand', cursive;
  div.container{
    .header{
      @include parent-center;
      height: 20vh;
      
      h1 {
        font-family: 'Bungee Shade', cursive;
        text-align: center;
        font-weight: 700;
        color: black;
        font-size: 42pt;
      } /** h1 **/
    } /* .header */
    div.game-container{
      height: 65vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    table{
      box-sizing: border-box;
      border-collapse: collapse;
      display: block;
      border-radius: 10%;
      overflow: hidden;
      position: relative;
      border: 1px solid black;
      tbody{
        box-sizing: border-box;
        width: $size/3;
        
        tr {
          height: $size/3;

          td {
            width: $size/3;
            box-sizing: border-box;
            position: relative;
            &.row1, &.row2{
              @include border(bottom);
            }
            &.col2{
                @include border(left);
              @include border(right);
            }
            &:hover{
              &:not(.x-move){
                &:not(.o-move){
                  background: rgba(0, 0, 0, 0.2);
                }
              }
            }
            &.x-move{
              position: relative;
              svg{
                position: absolute;
                height: $marker;
                width: $marker;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
               line{
                 stroke-width:15;
                 stroke: #000000;
                 stroke-linecap: round;
                 stroke-dasharray: 115;
                 stroke-dashoffset: 115;
                 &#line1{
                   animation: dash 0.3s linear forwards;
                 }
                 &#line2{
                   animation: dash 0.3s linear 0.4s forwards;
                 }
                }
              }
            }
            &.o-move{
              position: relative;
              svg{
                position: absolute;
                height: $marker;
                width: $marker;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                ellipse{
                  stroke: #000000;
                  stroke-dasharray: 217;
                  stroke-dashoffset: 217;
                  stroke-linecap: round;
                  transform-origin: center;
                  transform: rotate(-30deg);
                  animation: dash 0.5s linear forwards;
                }/* .path */
              } /* svg */
            }
            &.win {
              svg{
                line, ellipse{
                  stroke: #fff;
                }
              }
            }


          } /* td */

        } /* tr */
      } /*tbody*/
    } /* table */
    div.overlay{
      @include parent-center;
      position: absolute;
      z-index: 10;
      background: rgba(255,255,255,0.2);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: none;
      
      div.popup{
        text-align: center;
        height: 40vh;
        width: 60vh;
        border: 0.4rem solid #fff;
        border-radius: 2rem;
        p{
          display: block;
          font-size: 1rem;
          margin: 5% 0;
          &:nth-child(1){
            font-size: 2rem;
          }
          &:nth-child(3){
            button{
              font-size: 1rem;
              color: white;
              background: transparent;
              display: inline-block;
              padding: 0.5rem 1rem;
              margin: 0 10%;
              border: 0.2rem solid white;
              border-radius: 1.5em;
              &:hover{
                background: rgba(255,255,255, 0.6);
                color: rgba(0,0,0,0.4);
              }
            }
          }
        }
        
      }
    }
    div.message{
      @include parent-center;
      height: 15vh;
      p.status{
        display: inline;
        color:black;
        font-size: 20pt;
        margin: 0;
      } /* p.status */
    } /* .message */
    
    }/*container*/
  } /** body **/
  .blur{
    @include blur;
  }
} /* html */
@keyframes dash{
  to{
    stroke-dashoffset: 0;
  }
} /*dash animation*/
